@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --primary-color: #3d5afe;
  /* --secondary-color: #000000; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
    background-color: #F5F5F5;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 4px;

}

nav ul{
  display: flex;
  list-style: none;
  gap: 100px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
  transition: .1s ease;
}

nav ul li a:hover{
  color: var(--primary-color);
}

.signup{
  background-color: var(--primary-color);
  color: white;
  padding: 6px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  cursor: pointer; 
  transition: .1s ease;
}

.signup:hover{
    background: transparent;
    color: var(--primary-color);
}

.signin{
  background: transparent;
  color: black;
  padding: 6px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.profile button{
  /* background-color: red; */
  margin: 4px;
}

.logo img{
  width: 50px;
  
}

.logo{
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.mobile-menu{
  display: none;
}

.mobile-close{
  display: none;
}

@media only screen and (max-width: 768px){
  .mobile-menu{
    display: block;
    font-size: 20px;
  }

  .navbar-list{
    width: 100vw;
    gap: 50px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    display: none;
    
  }
  
  .navbar-list a{
    font-size: 2rem;
  }
  /* .profile{
    display: none;
  } */

  .active .navbar-list{
    visibility: visible;
    opacity: 1;
    transform: none;
    display: flex;
    
  }

  .mobile-close{
    display: block;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

